extends ../layout/index

block contenido
    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-azulrey Bienes 
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl.text-black= page

    div(class="bg-blanco shadow py-8 px-4 rounded-lg max-w-md mx-auto")
        p(class=error ? 'bg-rojo' : 'bg-azulclaro').py-2.px-5.rounded-lg.w-full.font-bold.text-center.text-white.uppercase= msg

        if !error
            a(href="/auth/login" class="text-center font-bold text-sm text-slate-600 uppercase mt-10 block bg-azulrey text-white h-10 py-2 px-6 rounded") Ya Puedes Iniciar Sesión
        else
             a(href="/auth/login" class="text-center font-bold text-sm text-slate-600 uppercase mt-10 block bg-morado text-white h-10 py-2 px-6 rounded") Upps! Ocurrio un error, vuelve a intentar 