extends ../layout/index

block contenido
    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-azulrey Bienes 
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl= page

        if errors
            div(class="max-w-md mx-auto my-10")
                each error in errors
                    // Verifica si error tiene la propiedad 'msg'
                    if error.msg
                        div(class="bg-redd text-white p-4 rounded-md flex items-center justify-between mb-2")
                            p(class="text-sm font-bold")= error.msg
                            button(class="ml-2 bg-transparent border-0 text-white" onclick="this.parentElement.style.display='none'") &times;

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow-lg.rounded-lg
                form(method="POST" action="/auth/passwordRecovery" noValidate).space-y-5.px-6
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div
                        label.block.text-sm.uppercase.text-black.mb-2.font-bold Email de Registro: 
                        input#email.w-full.px-3.py-2.border-2.border-black.rounded-md(type="email" placeholder="Ej. usuario@paisdelasmaravillas.com" name="correo_usuario")
                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login" class="hover:underline decoration-2 hover:decoration-pigmentgreen") ¿Ya tienes cuenta? Inicia Sesión
                        a.text-gray-500.text-xs(href="/auth/createAccount" class="hover:underline decoration-2 hover:decoration-pigmentgreen") ¿No tienes cuenta? Regístrate
                    input(class="w-full bg-morado hover:bg-celadon text-black font-bold py-3 cursor-pointer " type="submit" value="Recuperar Contraseña")

    script.
        document.querySelectorAll('.bg-red').forEach(error => {
            setTimeout(() => {
                error.style.display = 'none';
            }, 7000); 
        });