extends ../layout/index

block contenido 
    div.py-10 
        h1.text-center.font-extrabold.my-10.text-4xl Bienes 
            span.font-normal.text-black Raíces 
        h2.text-center.font-extrabold.text-2xl=page

        if errors
                div(class="max-w-md mx-auto my-10")
                    each error in errors
                        div(class="bg-reds text-white p-4 rounded-md flex items-center justify-between mb-2")
                            if error.msg == "La contraseña es un campo obligatorio"
                                i(class="fas fa-key mr-2")  
                            else if error.msg == "El Password debe ser de al menos 8 caracteres"
                                i(class="fas fa-lock mr-2") 
                            p(class="text-sm font-bold")= error.msg
                            button(class="ml-2 bg-transparent border-0 text-white" onclick="this.parentElement.style.display='none'") &times;
        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5.px-6(method="POST" )
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="new_password") Ingresa Tu Nueva Contraseña: 
                        input#new_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(type="password" placeholder="Mínimo de 8 carácteres" name="new_password")
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="confirm_new_password") Confirma Tu Nueva Contraseña: 
                        input#new_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(type="password" placeholder="Debera coincidir con la anterior" name="confirm_new_password")
                    
                    input(class="w-full bg-morado hover:bg-morado-400 text-white font-bold py-3 cursor-pointer" type="submit" value="Actualizar contraseña")
    script.
        document.querySelectorAll('.bg-#bd2929').forEach(error => {
            setTimeout(() => {
                error.style.display = 'none';
            }, 7000); 
        });
