extends ../layout/index

block contenido

    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-azulrey Bienes 
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl.text-black= page
        
    div(class="bg-white text-center text-black p-6 text-lg shadow-xl rounded-xl max-w-lg mx-auto py-4 px-6")
        p.text-xl.font-semibold.text-center.my-5= msg
