extends ../layout/index

block contenido
    header.bg-azulclaro-200.text-white.py-10.shadow-lg
        h1.text-4xl.font-bold.text-center.mb-6 Bienvenido a Propiedades
        p.text-lg.mt-4.text-center.opacity-90 Gestiona tus propiedades de forma sencilla y rápida.

    div.py-10 
        h1.text-center.font-extrabold.my-10.text-4xl.text-azulrey Bienes 
            span.font-normal.text-black Raíces 
        h2.text-center.font-extrabold.text-2xl=page



        